body {
	background-color: #1d2327;
	color: #d3c6aa;
}

.search_bar {
	background-color: #343f44;
	color: #d3c6aa;
	border-bottom: 8px solid #2b3539;
}

.search_bar::placeholder {
	color: #859289;
}

.search_button {
	background-color: #778f52;
	color: #2d353b;
	border-bottom: 8px solid #5d743e;
}

.search_button:hover {
	background-color: #92ab6c;
	border-bottom: 8px solid #788f57;
}

p {
	background-color: #2d353b;
	border-bottom: 8px solid #252c32;
}
